* {
  margin: 0;
  border: 0;
}

.container {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  background-image: image("./src/img/70222.jpeg");
  /*background-color: red;*/
}
