* {
  margin: 0;
  border: 0;
}

.container {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  background-image: url("../img/70222.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: red;
}
